.checkbox {
    display: flex;
    align-items: center;
}

.checkbox__input {
    outline: 0;
    width: var(--checkboxSize);
    height: var(--checkboxSize);
    box-shadow: none;
    display: block;
    flex-shrink: 0;
    border-radius: 0;
    accent-color: var(--checkboxAccentColor);
    margin: 0,
}

.checkbox__label {
    display: inline-block;
    margin-left: var(--checkboxLabelMarginLeft);
    font-size: var(--checkboxLabelFontSize);
    font-weight: var(--checkboxLabelFontWeight);
    color: var(--checkboxLabelColor);
}
