.form {
    --inputBorderWidth: 2px;
    --inputBorderColor: currentColor;
    --inputFocusBorderColor: purple;
    --inputHeight: 6rem;
    --inputPaddingX: 2rem;
    --inputPaddingY: 0;
    --inputColor: currentColor;
    --inputPlaceholderColor: currentColor;
    --inputFontSize: 16px;
    --inputBackgroundColor: transparent;
    --inputTransition: 0.25s;
    --inputIconSize: 2.2rem;
    --inputIconColor: currentColor;
    --inputFocusIconColor: var(--inputFocusBorderColor);
    --inputDisabledOpacity: 0.5;

    --textareaPadding: 2.5rem var(--inputPaddingX);
    --textareaHeight: 24rem;
    --textareaLineHeight: 1.5;

    --labelColor: currentColor;
    --labelFontSize: 1.6rem;
    --labelFontWeight: 400;
    --labelMarginBottom: 1rem;

    --radioSize: 2.2rem;
    --radioMarginBottom: 1rem;
    --radioAccentColor: purple;
    --radioLabelMarginLeft: 1rem;
    --radioLabelFontSize: 1.6rem;
    --radioLabelFontWeight: 400;
    --radioLabelColor: currentColor;

    --checkboxSize: 2rem;
    --checkboxAccentColor: purple; 
    --checkboxLabelMarginLeft: 1rem;
    --checkboxLabelFontSize: 1.6rem;
    --checkboxLabelFontWeight: 400;
    --checkboxLabelColor: currentColor;
}

.form__elementHolder {
    position: relative;
}

.form__elemenInner {
    position: relative;
}

.form__inputElement {
    color: var(--inputColor);
    display: block;
    width: 100%;
    padding: var(--inputPaddingY) var(--inputPaddingX);
    box-shadow: none;
    outline: 0;
    border: var(--inputBorderWidth) solid var(--inputBorderColor);
    background-color: var(--inputBackgroundColor);
    height: var(--inputHeight);
    position: relative;
    transition: var(--inputTransition);
    font-size: var(--inputFontSize);
    line-height: normal;
}

.form__inputElement[disabled] {
    opacity: var(--inputDisabledOpacity);
}

.form__inputElement::placeholder {
    color: var(--inputPlaceholderColor);
    opacity: 1;
}

.form__inputElement:focus {
    border-color: var(--inputFocusBorderColor);
}