.radioButton {
    display: flex;
    align-items: center;
    margin-bottom: var(--radioMarginBottom);

    &:last-child {
        margin-bottom: 0;
    }
}

.radioButton__input {
    width: var(--radioSize);
    height: var(--radioSize);
    box-shadow: none;
    display: block;
    flex-shrink: 0;
    accent-color: var(--radioAccentColor);
    margin: 0;
}

.radioButton__label {
    display: inline-block;
    margin-left: var(--radioLabelMarginLeft);
    font-size: var(--radioLabelFontSize);
    font-weight: var(--radioLabelFontWeight);
    color: var(--radioLabelColor);
}
