.select {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

.select__chevron {
    position: absolute;
    right: var(--inputPaddingX);
    top: 50%;
    margin-top: calc(var(--inputIconSize) * -0.5);
    width: var(--inputIconSize);
    height: var(--inputIconSize);
    pointer-events: none;
    color: var(--inputIconColor);
    transition: var(--inputTransition);
}

.select:active + .select__chevron {
    transform: rotate(0.5turn);
}

.select[disabled] {
    pointer-events: none;
}

.select[disabled] + .select__chevron {
    opacity: var(--inputDisabledOpacity);
}
