.select {
    cursor: pointer;
    appearance: none;
}

.select__chevron {
    position: absolute;
    right: 2rem;
    top: 50%;
    margin-top: -1.2rem;
    width: 2.4rem;
    height: 2.4rem;
    pointer-events: none;
    transition: 0.25s;
    color: currentColor;
}

.select:active + .select__chevron {
    transform: rotate(0.5turn);
}