.submitButton {
    position: relative;
    display: inline-block;
}

.submitButton .button__inner {
    position: relative;
}

.submitButton .button__inner,
.submitButton__loader {
    transition: opacity 0.35s;
}

.submitButton__loader {
    width: var(--submitLoaderSize);
    height: var(--submitLoaderSize);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: calc(-1 * var(--submitLoaderSize) / 2);
    margin-top: calc(-1 * var(--submitLoaderSize) / 2);
    animation: spin 1.5s linear infinite;
    opacity: 0;
    z-index: 2;
}

.submitButton.isLoading {
    pointer-events: none;
}

.submitButton.isLoading .button__inner {
    opacity: 0;
}

.submitButton.isLoading .submitButton__loader {
    opacity: 1;
}

.submitButton.isLoading .submitButton__loader svg {
    width: 100%;
    height: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
